<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="air.admin.spring_boot.module.doctor.mapper.DoctorMapper">
    <sql id="col">

    </sql>
    <select id="page" resultType="air.admin.spring_boot.module.doctor.dto.DoctorResultDto">
        SELECT
            <include refid="col"/>
        FROM base_doctor
        WHERE 1=1
        <if test="param.doctorId!=null and param.doctorId!='' ">
            AND doctor_id = #{param.doctorId}
        </if>
        <if test="param.doctorName!=null and param.doctorName!='' ">
            AND doctor_name = #{param.doctorName}
        </if>
        <if test="param.doctorDepartment!=null and param.doctorDepartment!='' ">
            AND doctor_department = #{param.doctorDepartment}
        </if>
    </select>

</mapper>