<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="air.admin.spring_boot.base.doctor.mapper.DoctorMapper">

    <select id="select" resultType="air.admin.spring_boot.base.doctor.dto.DoctorResultDto">
        SELECT DISTINCT mzgl_user.password, mzgl_doctor.*  -- 替换为你需要的列
        FROM mzgl_doctor
        JOIN mzgl_user ON mzgl_doctor.id = mzgl_user.id
        WHERE mzgl_doctor.id = #{id};
    </select>

</mapper>