<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="air.admin.spring_boot.login.mapper.UserMapper">

    <sql id="one">
        id,username,password
    </sql>
    <select id="selectOne" resultType="air.admin.spring_boot.login.entity.User">
        SELECT
            <include refid="one"/>
        FROM mzgl_user
        WHERE 1=1
        <if test="id!=null or id!=''">
            AND id = #{id}
        </if>
        <if test="username!=null or username!=''">
            AND
        </if>
    </select>
</mapper>
