<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="air.admin.spring_boot.module.people.mapper.PeopleMapper">

    <resultMap id="BaseResultMap" type="air.admin.spring_boot.module.people.entity.PeopleEntity">
        <id column="p_id" property="id"/>
        <result column="p_name" property="name"/>
        <result column="p_age" property="age"/>
        <result column="p_gender" property="gender"/>
        <result column="p_contact" property="contact"/>
        <result column="p_address" property="address"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id, p_name, p_age, p_gender, p_contact, p_address
    </sql>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM base_people
        WHERE 1=1
        <if test="name != null and name != ''">
            AND p_name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="age != null">
            AND p_age = #{age}
        </if>
        <if test="gender != null and gender != ''">
            AND p_gender = #{gender}
        </if>
        <if test="contact != null and contact != ''">
            AND p_contact = #{contact}
        </if>
        <if test="address != null and address != ''">
            AND p_address = #{address}
        </if>
    </select>
</mapper>
